p {
  font-family: Lato;
}

#head {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item {
  display: inline-block;
  width: 30%;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}
