#head {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
  width: 15%;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
  border-color: black;
  border-radius: 8px;
}
